* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

:root {
  --main-blue: #0d2c54;
}

@font-face {
  font-family: Roboto;
  src: url(../Roboto-Regular.ttf);
}

body {
  height: 100vh;
  background: url(../img/mainBcg.jpeg) no-repeat center center/cover;
}

.counter-container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.counter-container a{
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 600;
}

.counter-container a i{
  margin-right: 5px;
  color: #00405d;
  font-size: 30px;
}

.counter-container .counter-div {
  width: 570px;
  padding: 55px 100px;
  text-align: center;
  border: 1px solid #fff;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  margin-bottom: 30px;
}

.counter-container .counter-div h2 {
  font-size: 35px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}

.counter-container .counter-div #count-result {
  margin: 25px 0 15px;
}

.counter-container .counter-div #count-result h1 {
  opacity: 0.7;
  font-weight: 600;
  color: : #333;
  font-size: 9rem;
}

.counter-container .counter-div #count-result h1.green {
  color: green;
  opacity: 1;
}

.counter-container .counter-div .button-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.counter-container .counter-div .button-grid button {
  background: #0d2c54;
  padding: 10px 15px;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 500;
  border: 0;
  outline: 0;
  font-size: 15px;
  border-radius: 4px;
  letter-spacing: 1px;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.counter-container .counter-div .button-grid button:hover {
  background: #00a6ed;
}

/*=======================================================================================
                            MEDIA QUERIES
=======================================================================================*/
@media (max-width: 565px) {
  body, 
  .counter-container{
    height: 100%;
  }

  .counter-container .counter-div {
    width: 90%;
    padding: 30px;
  }

  .counter-container{
     margin: 30px auto;
  }
 
  .counter-container h2{
     font-size: 30px;
  }

  .counter-container .counter-div h1,
  .counter-container .counter-div .count-result,
  .counter-container .counter-div .button-grid {
    text-align: center;
  }

  .counter-container .counter-div .button-grid {
    flex-direction: column;
    gap: 20px;
  }

  .counter-container a{
     font-size: 15px;
  }

  .counter-container a i {
     font-size: 25px;
  }

  .counter-container .counter-div #count-result h1{
     font-size: 7rem;
  }
}
